body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edebeb;
  min-width: 999px;
  min-height: 999px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}
